#stream_section {
	margin-top : 10vw;
}

#str_input,
#rep_input { /* lazy */
	width : 96vw;
	padding : 1vw 1vw;
	margin : 1.5vw 2vw;
	height : 10vw;
	font-size : 5vw;
}

.str_search_block {
	height : auto;
	width : 92vw;
	margin : 2.4vw 2vw;
	padding : 2vw;
	border-radius : 1.2vw;
	background-color : PaleGreen;
	font-size : 4vw;
	color : Black;
	font-weight : bold;
}

.str_search_title {
	display : flex;
}

.str_tag_name {
	flex-grow : 1;
	font-size : 4.8vw;
}

.str_close:not(.closed) {
	content : url("icon/list_up.png");
	width : 6vw;
	height : 6vw;
	align-items : center;
	margin: 5px 5px 5px 0;
}

.str_close.closed {
	content : url("icon/list_down.png");
	width : 6vw;
	height : 6vw;
	align-items : center;
	margin: 5px 5px 5px 0;
}

.str_search_subtitle {
	border-bottom : 0.5vw solid Black;
	width : 80vw;
	margin : 2vw 0vw;
	padding-left : 3.6vw;
}

.str_search_content {
	background-color : PaleTurquoise;
	border-radius : 1.4vw;
	padding : 1.5vw;
	margin-bottom : 1vw;
}

.str_search_options {
	display : grid;
	grid-template-columns: 30% 35% 35%;
}

.str_tag_button,
.str_attr_button,
.str_method_button,
.str_sort_button {
	display : flex;
}

.str_tag_checkbox,
.str_checkbox {
	width : 6vw;
	height : 6vw;
	margin : 0.6vw;
}

.str_tag_checkbox.selected,
.str_checkbox.selected {
	content : url("icon/str_check.png");
}

.str_tag_checkbox.str_tag_and:not(.selected),
.str_checkbox:not(.selected) {
	content : url("icon/str_cross.png");
}

#str_checkbox_tag_all:not(.selected),
#str_checkbox_game_all:not(.selected),
.str_tag_checkbox:not(.str_tag_and):not(.selected) {
	content : url("icon/str_minus.png");
}


.str_display_item {
	background-color : FireBrick;
	margin : 2vw;
	border-radius : 3vw;
	font-size : 4vw;
	padding : 1.2vw;
}

.str_display_item.private {
	background-color : #6F0000;
}

.str_item_1stline {
	display : flex;
	margin : 0.6vw;
	color : White;
}

.str_item_date {
	padding-left : 1.2vw;
	width : 70%;
}

.str_item_length {
	padding-right : 1.4vw;
	text-align : right;
	width : 30%;
}

.str_item_tags {
	display : flex;
	padding-left : 2vw;
}

.str_item_2ndline {
	background-color : PapayaWhip;
	border-radius : 2vw;
	margin : 0.4vw 1.2vw;
	padding : 1.2vw 0.4vw;
}

.str_item_subtag {
	margin-right : 2vw;
	padding : 0.8vw 1.6vw;
	background-color : LightGrey;
	border-radius : 0.6vw;
	color : Black;
	font-size : 3.2vw;
	font-weight : bold;
}

.str_item_title {
	margin : 0.4vw 0.8vw;
	padding : 0.6vw;
	font-size : 4vw;
	font-weight : bold;
}

.atr_item_3rdline {
	display : flex;
	padding-left : 1.2vw;
}

.atr_item_3rdline>div {
	height : 10vw;
	width : 10vw;
	margin : 0.6vw 0.8vw;
	border-radius : 0.6vw;
}



.str_icon_mem_0 {
	content : url("icon/member/0.jpg");
}

.str_icon_mem_1 {
	content : url("icon/member/1.jpg");
}

.str_icon_mem_2 {
	content : url("icon/member/2.jpg");
}

.str_icon_mem_3 {
	content : url("icon/member/3.jpg");
}

.str_icon_mem_4 {
	content : url("icon/member/4.jpg");
}

.str_icon_mem_5 {
	content : url("icon/member/5.jpg");
}

.str_icon_mem_6 {
	content : url("icon/member/6.jpg");
}

.str_icon_mem_7 {
	content : url("icon/member/7.jpg");
}

.str_icon_mem_8 {
	content : url("icon/member/8.jpg");
}

.str_icon_mem_9 {
	content : url("icon/member/9.jpg");
}